[project]
	description = Person Content Type
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexei Gorobets (asgorobets)
[access "refs/for/refs/*"]
	read = group user/Alexei Gorobets (asgorobets)
	push = group user/Alexei Gorobets (asgorobets)
	label-Code-Review = -2..+2 group user/Alexei Gorobets (asgorobets)
	label-Verified = -1..+1 group user/Alexei Gorobets (asgorobets)
	rebase = group user/Alexei Gorobets (asgorobets)
	removeReviewer = group user/Alexei Gorobets (asgorobets)
	submit = group user/Alexei Gorobets (asgorobets)
[access "refs/heads/*"]
	read = group user/Alexei Gorobets (asgorobets)
	create = group user/Alexei Gorobets (asgorobets)
	push = +force group user/Alexei Gorobets (asgorobets)
	pushMerge = group user/Alexei Gorobets (asgorobets)
[access "refs/tags/*"]
	push = +force group user/Alexei Gorobets (asgorobets)
	pushTag = group user/Alexei Gorobets (asgorobets)
	pushSignedTag = group user/Alexei Gorobets (asgorobets)
